@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --header-text: hsl(0, 0%, 100%);
  --toggle-background: hsl(223, 31%, 20%);
  --toggle-circle: hsl(6, 63%, 50%);
  --value-background: hsl(224, 36%, 15%);
  --value-text: hsl(0, 0%, 100%);
  --keypad--background: hsl(223, 31%, 20%);
  --key-regular-background: hsl(30, 25%, 89%);
  --key-regular-shadow: hsl(28, 16%, 65%);
  --key-regular-text: hsl(221, 14%, 31%);
  --key-spl-background: hsl(225, 21%, 49%);
  --key-spl-shadow: hsl(224, 28%, 35%);
  --key-spl-text: hsl(0, 0%, 100%);
  --key-red-background: hsl(6, 63%, 50%);
  --key-red-shadow: hsl(6, 70%, 34%);
  --key-red-text: hsl(0, 0%, 100%);
  transition: background-color 300ms ease-in, color 300ms ease-in,
    border-color 300ms ease-in;
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --header-text: hsl(60, 10%, 19%);
  --toggle-background: hsl(0, 5%, 81%);
  --toggle-circle: hsl(25, 98%, 40%);
  --value-background: hsl(0, 0%, 93%);
  --value-text: hsl(60, 10%, 19%);
  --keypad--background: hsl(0, 5%, 81%);
  --key-regular-background: hsl(45, 7%, 89%);
  --key-regular-shadow: hsl(35, 11%, 61%);
  --key-regular-text: hsl(60, 10%, 19%);
  --key-spl-background: hsl(185, 42%, 37%);
  --key-spl-shadow: hsl(185, 58%, 25%);
  --key-spl-text: hsl(0, 0%, 100%);
  --key-red-background: hsl(25, 98%, 40%);
  --key-red-shadow: hsl(25, 99%, 27%);
  --key-red-text: hsl(0, 0%, 100%);
  transition: background-color 300ms ease-in, color 300ms ease-in,
    border-color 300ms ease-in;
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --header-text: hsl(52, 100%, 62%);
  --toggle-background: hsl(268, 71%, 12%);
  --toggle-circle: hsl(176, 100%, 44%);
  --value-background: hsl(268, 71%, 12%);
  --value-text: hsl(52, 100%, 62%);
  --keypad--background: hsl(268, 71%, 12%);
  --key-regular-background: hsl(268, 47%, 21%);
  --key-regular-shadow: hsl(290, 70%, 36%);
  --key-regular-text: hsl(52, 100%, 62%);
  --key-spl-background: hsl(281, 89%, 26%);
  --key-spl-shadow: hsl(285, 91%, 52%);
  --key-spl-text: hsl(0, 0%, 100%);
  --key-red-background: hsl(176, 100%, 44%);
  --key-red-shadow: hsl(177, 92%, 70%);
  --key-red-text: hsl(198, 20%, 13%);
  transition: background-color 300ms ease-in, color 300ms ease-in,
    border-color 300ms ease-in;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--main-background);
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  min-width: 300px;
  max-width: 480px;
  padding: 1.5rem;
}

header {
  width: 100%;
  color: var(--header-text);
  display: flex;
  align-items: center;
}

.theme-toggle-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-toggle-container>p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.theme-toggle {
  width: 5rem;
  height: 2rem;
  padding: 0 0.75rem;
  background: var(--toggle-background);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-toggle>span {
  width: 0.95rem;
  height: 0.95rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.theme-toggle>span::before {
  position: absolute;
  top: -205%;
  left: 50%;
  font-size: 0.85rem;
  transform: translateX(-50%);
}

.one::before {
  content: "1";
}

.two::before {
  content: "2";
}

.three::before {
  content: "3";
}

.toggle-background {
  background: var(--toggle-circle);
}

.value {
  background: var(--value-background);
  color: var(--value-text);
  width: 100%;
  min-height: 12vh;
  padding: 1rem;
  margin: 2rem 0;
  font-size: 1.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 0.65rem;
  word-break: break-all;
}

.button-group {
  width: 100%;
  background: var(--keypad--background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  padding: 1rem;
  border-radius: 0.65rem;
}

.button-group>span {
  background: var(--key-regular-background);
  color: var(--key-regular-text);
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border-bottom: 0.35rem solid var(--key-regular-shadow);
  user-select: none;
  border-radius: 0.35rem;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: all 0.1s;
  cursor: pointer;
}

.spl {
  background: var(--key-spl-background) !important;
  border-color: var(--key-spl-shadow) !important;
  color: var(--key-spl-text) !important;
}

.equal {
  background: var(--key-red-background) !important;
  border-color: var(--key-red-shadow) !important;
  color: var(--key-red-text) !important;
}

.button-group>span:hover {
  transform: scaleY(0.95);
  border-bottom-width: 0.25rem;
}

.button-group>span:active {
  transform: scaleY(0.9);
  border-bottom-width: 0;
}

.width50 {
  grid-column: span 2;
}

footer {
  width: 100%;
  min-height: 3vh;
  color: var(--header-text);
}

footer a {
  color: var(--header-text) !important;
}